POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=depi_noshow
POSTGRES_USER=depi_admin
POSTGRES_PASSWORD=CHANGE_ME

DATASET_SCHEMA=analytics
DATASET_TABLE=appointment_training_dataset_v1
DATASET_EXPORT_DIR=data/exports
DATASET_BATCH_SIZE=10000
